.idea{
    margin-bottom: 80px;
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
    h2{
        margin-bottom: 50px;
        text-align: center;
        font-size: 32px;
        color: #3F3A51;
        font-weight: bold;
    }
    .idea__item{
        grid-gap: 24px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h4{
            color: #3F3A51;
            font-size: 20px;
        }
        p{
            line-height: 150%;
            color: #3F3A51;
            font-size: 18px;
        }
    }
}